<div class="jumbotron" id="banner">
  <h1>Welcome to <span class="board-game">Robot World</span></h1>
  <h4><em>Learn All About the Robots that are a part of Robot World below...</em></h4>
  <div class ="dashboard_button_display">
    <p><a class="btn btn-info btn-lg" href="/robots" role="button">Robot World</a></p>
    <p><a class="btn btn-info btn-lg" href="/robots/new" role="button">New Robot</a></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Average Robot Age</h3>
  </div>
  <div class="panel-body">
    <p>The average age of robots in robot world is currently <%= @robot_avg_age %>.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Years Hired</h3>
  </div>
  <div class="panel-body">
    <p>The years our robots were hired include: <br>
      <% @robot_year_hired.each do |key, value|%>
      <%= "#{value} in #{key}"%>
      <br>
      <% end%>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Departments</h3>
  </div>
  <div class="panel-body">
    <p>Our Robots work in the following departments: <br>
      <% @robot_department.each do |key, value|%>
      <%= "#{value} in #{key}"%>
      <br>
      <% end%>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cities Represented</h3>
  </div>
  <div class="panel-body">
    <p>Our Robots are from these cities: <br>
      <% @robot_city.each do |key, value|%>
      <%= "#{value} from #{key}"%>
      <br>
      <% end%>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">States Represented</h3>
  </div>
  <div class="panel-body">
    <p>Our Robots are from these states: <br>
      <% @robot_state.each do |key, value|%>
      <%= "#{value} from #{key}"%>
      <br>
      <% end%>
    </p>
  </div>
</div>
