<!-- <h1 class="dashboard_title"><strong>Welcome to Robot World</strong></h1> -->

<!-- <a class ="col-md-6 col-sm-4 btn btn-primary btn-lg" href="/robots">Robot World</a> -->
<!-- <a class ="col-md-6 col-sm-4 btn btn-primary btn-lg" href="/robots/new">New Robot</a> -->

<div class="jumbotron">
  <h1>Welcome to <strong class="board-game">Robot World</strong></h1>
  <h4><em>Learn All About the Robots that are a part of Robot World below...</em></h4>
  <div class ="dashboard_button_display">
    <p><a class="btn btn-info btn-lg" href="/robots" role="button">Robot World</a></p>
    <p><a class="btn btn-info btn-lg" href="/robots/new" role="button">New Robot</a></p>
  </div>
</div>

<div>
  <p class="statistics col-md-4 col-sm-8">The average age of robots in robot world is currently <%= @robot_avg_age %>.</p>
  <p class="statistics col-md-4 col-sm-8">The years our robots were hired include: <br>
    <% @robot_year_hired.each do |key, value|%>
    <%= "#{key}: #{value}"%>
    <br>
    <% end%>
  </p>

  <p class="statistics col-md-4 col-sm-8">Our Robots work in the following departments: <br>
    <% @robot_department.each do |key, value|%>
    <%= "#{key}: #{value}"%>
    <br>
    <% end%>
  </p>

  <p class="statistics col-md-4 col-sm-8">Our Robots are from these cities: <br>
    <% @robot_city.each do |key, value|%>
    <%= "#{key}: #{value}"%>
    <br>
    <% end%>
  </p>

  <p class="statistics col-md-4 col-sm-8">Our Robots are from these states: <br>
    <% @robot_state.each do |key, value|%>
    <%= "#{key}: #{value}"%>
    <br>
    <% end%>
  </p>
</div>
