<div class="container-fluid row well">
  <h1>All Robots</h1>
  <% @robots.each do |robot| %>
    <h3><%= robot.id %>: <a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
    <h4><a href="/robots/<%= robot.id %>"><%= robot.city %>, <%= robot.state%></a></h4>
    <h4><a href="/robots/<%= robot.id %>"><img src="https://robohash.org/<%=robot.avatar%>.png"></a></h4>
    <h4><a href="/robots/<%= robot.id %>"><%= robot.birthday %></a></h4>
    <h4><a href="/robots/<%= robot.id %>">Hired on <%= robot.date_hired %> in the <%= robot.department%> department</a></h4>

    <a href="/robots/<%= robot.id %>/edit" class="btn btn-info col-md-1">EDIT</a>
    <form action="/robots/<%= robot.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="DELETE" class="btn btn-danger col-md-1 col-md-offset-1">
    </form>
  <% end %>
</div>
