<div class="row well">
  <div class ="col-md-6">
    <img src="https://robohash.org/<%= @robot.avatar%>.png">
  </div>
  <div class="col-md-6">
    <h1 class="robot-name"><%= @robot.name %></h1>
    <br>
    <p class="robot_description"><%= @robot.name %> is from <%= @robot.city %>, <%= @robot.state %> and was born on <%= @robot.birthday_formatted.day %>/<%= @robot.birthday_formatted.month%>/<%= @robot.birthday_formatted.year%>. Hired on <%= @robot.hire_date_formatted.day%>/<%= @robot.hire_date_formatted.month%>/<%= @robot.hire_date_formatted.year%>,
    <%= @robot.name %> works in the <%= @robot.department %> department.
    </p>
  </div>
</div>
