<a href="/robots">Robot Index</a>

<h1><%= @robot.name %></h1>
<h2><%= @robot.city %>, <%= @robot.state %></h2>
<h2>It's his birthday on <%= @robot.birthday %></h2>
<h2>He was hired on <%= @robot.date_hired %> to work in the <%= @robot.department %> department</h2>
<h2><img src="https://robohash.org/<%= @robot.avatar%>.png"></h2>
